/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
*/
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/*--- FONTs ------------------------------------------------------------------------------------*/

@font-face { font-family: OpenSans-Regular; src: url(../fonts/OpenSans-Regular.ttf); }
@font-face { font-family: OpenSans-Bold;    src: url(../fonts/OpenSans-Bold.ttf); }
@font-face { font-family: Barlow-Bold;      src: url(../fonts/Barlow-Bold.ttf); }


/*--- ROOT -------------------------------------------------------------------------------------*/

:root {

  /*--color-white-0:      rgba(255, 255, 255, 0);*/
  --color-white:        #fff;
  --color-gray-pale:    #dedacf;
  --color-gray:         #838b75;

  --color-yellow-pale:  rgb(255, 245, 131);
  --color-yellow-light: rgb(255, 230, 100);
  --color-yellow:       rgb(253, 214, 22);

  --color-yellow-pale-5:rgba(255, 245, 131, 0.5);
  --color-yellow-8:     rgba(253, 214, 22, 0.8);

  --color-navy-light:   rgb(15, 146, 224);
  --color-navy-light-5: rgba(15, 146, 224, 0.5);
  --color-navy-light-8: rgba(15, 146, 224, 0.8);
  --color-navy-dark:    rgb(42, 13, 99);
  --color-navy-dark-7:  rgba(42, 13, 99, 0.7);
  --color-navy-dark-8:  rgba(42, 13, 99, 0.8);
  
  --color-navy-pale:    rgb(86, 195, 236);
  --color-navy:         rgb(10, 94, 142);
  --color-navy-5:       rgba(10, 94, 142, 0.5);
  --color-navy-darker:  rgb(7, 50, 74);
  
  --color-midnight:     rgb(19, 14, 27);

  --color-red-deep:     rgb(35, 0, 0);
  --color-red-deep-7:   rgba(35, 0, 0, 0.7);
  --color-red-deep-9:   rgba(35, 0, 0, 0.9);
  --color-attention:    rgb(212, 107, 14);

  /* --- */

  --linear-gradient-red-deep-1: linear-gradient(var(--color-red-deep-9), var(--color-red-deep-7));
  --linear-gradient-yellow-1:   linear-gradient(var(--color-yellow-pale), var(--color-yellow));
  --linear-gradient-yellow-2:   linear-gradient(-170deg, var(--color-yellow-pale-5), var(--color-yellow-8));
  --linear-gradient-navy-1:     linear-gradient(-170deg, var(--color-navy-5), var(--color-navy-dark-8));
  --linear-gradient-navy-2:     linear-gradient(45deg, var(--color-navy-dark), var(--color-navy-light));
  --linear-gradient-navy-5:     linear-gradient(45deg, var(--color-navy-dark-8), var(--color-navy-light-8));
  --linear-gradient-navy-3:     linear-gradient(-100deg, var(--color-navy), var(--color-navy-dark));
  --linear-gradient-navy-4:     linear-gradient(-172deg, var(--color-navy), var(--color-navy-dark));
  /* --- */
  
  --border-1: 2px solid var(--color-yellow-pale);
  --border-2: 2px solid var(--color-gray);
  --border-3: 2px solid var(--color-navy-light);
  
  /* --- */

  --shadow-1: 0 0 7px 2px var(--color-red-deep-7);
  --shadow-2: 0 1px 1px 0px var(--color-navy-dark);
  --shadow-3: 0 0 5px 0 var(--color-navy-dark);
}


/*---  ------------------------------------------------------------------------------------*/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: break-word;
    /*border: solid 1px green;*/
}

/* --- */

html { font-size: 16px;} /* For rem root font-size */

/* --- */

body {
    font-family: 'OpenSans-Regular', sans-serif;
    color: var(--color-midnight);
    background: var(--color-navy-dark);
    background: var(--linear-gradient-navy-2);
    margin: 0;
}

/* --- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenSans-Regular', Arial;
}
h1 { font-size: 2.5rem; /*margin-bottom: 20px;*/ }
h2 { font-size: 2.1rem; line-height: 2.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.1rem; /*font-family: "OpenSans-Bold";*/ }

/* --- */

.link-main,
a {
    color: var(--color-navy-pale);
    /*font-weight: 800;*/
    text-decoration: none;
}
.link-main:hover,
.link-file-main:hover,
a:hover {
    cursor: pointer;
    color: var(--color-navy-light);
}

/* --- */

p { padding: 0 0 10px 0; }

/* --- */

nav {
    overflow: hidden;
    display: inline-block;
    float: right;
}

/*
nav a {
    float: left;
    display: block;
    color: #262029;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
*/

/* --- */

header { overflow: auto; } /* Helps to inner object be inside of it */
article {}
section {}

/* --- */

footer {
    clear: left;
    text-align: center;
    padding: 20px;
}

/* --- */

input,
select,
textarea {
    width: 100%;
    background: none;
    /*font: 600 1rem "Barlow-Bold";
    padding: 10px 15px;
    background: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 10px;*/
}


input::placeholder,
select::placeholder,
textarea::placeholder {
    font: 1rem "OpenSans-Regular";
}


input:focus,
select:focus,
textarea:focus {
    outline: none; /* to remove blue outline border */
}

input[type=submit],
input[type=button],
input[type=reset] { /* BUTTONS */
    width: auto;
    display: inline-block;
    float: left;
    text-align: center;
    text-decoration: none;
    border: none;
}

input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover {
    cursor: pointer;
}

input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active {
    transform: matrix(1, 0, 0, 0.98, 0, -1);
}

input[type=submit][disabled] ,
input[type=button][disabled],
input[type=reset][disabled] { /* BUTTONS */
    cursor: default;
}


/*--- CHECKBOX ----------------------------------------------------------------------------------------------------------*/

input[type=checkbox] { /* Hide the browser's default checkbox */
    height: 0;
    width: 0;
    padding: 10px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark { /* TUOMO's design: Create a custom checkbox */
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background: none;
    float: left;
    position: relative;
    border: var(--border-2);
    background: var(--color-white);
    border-radius: 5px;
    transition: 0.3s;
}

label:hover input[type=checkbox] ~ .checkmark { /* On mouse-over, add a grey background color */
    background-color: var(--color-yellow); 
    transition: 0.3s;
}

label input[type=checkbox]:checked ~ .checkmark { /* When the checkbox is checked, add a blue background */
    background-color: none;
}

.checkmark:after { /* Create the checkmark/indicator (hidden when not checked) */
    content: "";
    position: absolute;
    display: none;
}

label input[type=checkbox]:checked ~ .checkmark:after { /* Show the checkmark when checked */
    display: block;
}

label .checkmark:after { /* Style the checkmark/indicator */
    left: 5px;
    top: 1px;
    width: 7px;
    height: 11px;
    border: 2px solid var(--color-navy);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

label {
    /*padding: 15px;
    margin: 15px 0;*/
    display: inline-block;
    user-select: none;
}
label:hover { cursor: pointer; }


/*--- INPUTs' STYLES -----------------------------------------------------------------------------------------------*/

input.input-text-init-1,
select.input-text-init-1,
textarea.input-text-init-1 {
    font: 1rem "OpenSans-Regular";
    padding: 14px;
    border-radius: 10px;
}

/*
input.input-text-3,
select.input-text-3,
textarea.input-text-3 {
    font: 1rem "OpenSans-Regular";
    padding: 14px;
    border: 1px solid var(--color-gray);
    border-radius: 10px;
}
*/

.button-3,
input.button-3 {
    font: 600 1.125rem "Barlow-Bold";
    padding: 10px 25px;
    /*padding: 15px 25px;*/
    border-radius: 10px;
}

input.button-3-bigger {
    font: 600 1.125rem "Barlow-Bold";
    padding: 20px 30px;
    border-radius: 10px;
}

input.input-text-4,
select.input-text-4,
textarea.input-text-4 {
    font: 1rem "OpenSans-Regular";
    padding: 5px 7px;
    border: 1px solid var(--color-gray);
    border-radius: 10px;
}

input.button-4 {
    font: 600 1rem "Barlow-Bold";
    padding: 5px 12px 7px 12px;
    border-radius: 10px;
}


/*--- THEMES' COMMON CLASSES -------------------------------------------------------------------------------------------*/

.init-middle-theme-2 {
    background: url(../img/background-1.png) no-repeat center top / 100%;
}

.form-request-leave-theme-2 {
    /*background: var(--color-navy-dark);*/
    background: var(--linear-gradient-navy-5);
}

.form-request-leave-theme-2-2 {
    background: url(../img/background-2.png) no-repeat center bottom / 100%;
}

.input-text-theme-2 {
    border: var(--border-3);
    color: var(--color-yellow-pale);
    /*border: 1px solid var(--color-gray);*/
    /*background: var(--color-white);*/
}

.input-text-theme-2::placeholder {
    color: var(--color-navy-light-5);
}

.input-text-theme-2:focus {
    border: var(--border-1);
    transition: border 0.5s;
}

.box-1-theme-2 {
    color: var(--color-yellow-pale);
    background: var(--linear-gradient-navy-4);
    box-shadow: var(--shadow-2);
}

.box-attention-2 {
    background: var(--color-navy); 
    color: var(--color-attention);
    box-shadow: var(--shadow-2);
}

.title-1-theme-2 {
    color: var(--color-yellow);
}

.title-1-theme-1 {
    color: var(--color-navy);
}

.title-2-theme-1 {
    color: var(--color-navy-dark);
}
/*
.title-3-theme-1 {
  color: var(--color-shadow-lighter);
}
*/

.block-1-theme-1 { /* remane it */
    background: var(--color-white);
}

.button-theme-2 {
    color: var(--color-navy);
    background: var(--color-yellow-pale);
    background: linear-gradient(var(--color-yellow-pale), var(--color-yellow));
    transition: all 0.3s;
}

.button-theme-2:hover {
    color: var(--color-navy-darker);
    background: var(--color-yellow);
    background: linear-gradient(var(--color-yellow), var(--color-yellow)); /* Because of "transition" */
    transition: all 0.3s;
}

.button-theme-2:disabled {
    color: var(--color-white);
    background: var(--color-yellow);
    background: linear-gradient(var(--color-yellow), var(--color-yellow)); /* Because of "transition" */
    transition: all 0.3s;
}


.button-theme-1 {  /* remane it */
    color: var(--color-white);
    background: var(--color-navy);
    background: linear-gradient(var(--color-navy-light), var(--color-navy));
    transition: all 0.3s;
}
.button-theme-1:hover {  /* remane it */
    background: var(--color-turquoise-darker);
    background: linear-gradient(var(--color-navy), var(--color-navy)); /* Because of "transition" */
    transition: all 0.3s;
}
.button-theme-1:disabled {  /* remane it */
    background: var(--color-navy-light);
    transition: all 0.3s;
}


/*--- UNIVERSAL CLASSES ---------------------------------------------------------------------*/

/*.a_s-end { align-self: flex-end; }*/
.c-navy   { color: var(--color-navy); }
.c-yellow { color: var(--color-yellow); }

.b_c-yellow-1 { background: var(--color-yellow); background: var(--linear-gradient-yellow-1); }
.b_c-yellow-2 { background: var(--color-yellow); background: var(--linear-gradient-yellow-3); }
.b_c-navy-1   { background: var(--color-navy-dark); background: var(--linear-gradient-navy-2); }
.b_c-navy-3   { background: var(--color-navy-light-5); background: var(--linear-gradient-navy-3); }

.m_l-10 { margin-left: 10px; }
.m_b-5  { margin-bottom: 5px; }
.m_b-10 { margin-bottom: 10px; }

.m_w-600 { max-width: 600px; }

.relative { position: relative; }
.p-fixed  { position: fixed; }

.overflow-hidden { overflow: hidden; }


/*
.float-right { float: right; }
.float-left  { float: left; }
.error       { color: red; }

.col-100     { width: 100%; } 
.col-50      { width: 50%; }
*/

.display-hide {
    display: block;
    width: 0;
    max-height: 0;
    padding: 0 !important;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}


/*--- BOXES -------------------------------------------------------------------------------------------------------------*/

.box-main-3 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.box-2 {
    width: 98%;
    border-radius: 10px;
    margin: 28px 1%;
    float: left;
    position: relative;
    color: var(--color-navy-dark);
    background: var(--color-white);
    box-shadow: var(--shadow-2);
}

.box-2-top {
    width: 100%;
    float: left;
    padding: 20px 30px;
    display: flex;
    position: relative;
    align-items: center;
    color: var(--color-navy);
    background: var(--color-white);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--color-yellow-pale);
}
.box-2-top > div:nth-child(1)      { white-space: nowrap; display: flex; margin-top: 5px; } /* TITLE */
.box-2-top > div:nth-last-child(2) { flex: 80%; } /* It is "box-2-top-1" */

.box-2-top-1 { /* Tuomo DESIGN */
    display: flex;
    align-content: flex-start;
    margin: 5px 10px 0 10px;
}

.box-2-middle { /* Tuomo DESIGN */
    width: 100%;
    padding: 40px 30px;
    float: left;
    border-radius: 10px;
}


/*--- FLEX BOXES -------------------------------------------------------------------------------------------------*/

.box-flex-backgrounded-2 {
    display: flex;
    flex-flow: column;
    align-items: center; /* Perfect Centering */
    left: 0;
    top: 0;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: var(--color-navy-dark-7);
}

.box-flex-backgrounded-3 {
    display: flex;
    flex-flow: column;
    justify-content: center; /* Perfect Centering */
    align-items: center;     /* Perfect Centering */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: var(--color-navy-dark-7);
}


/*--- WINDOWED ------------------------------------------------------------------------------------------*/

.windowed-3 {
    width: 100%;
    padding: 60px 50px;
    margin: 10px 0;
    /*background: var(--color-white);*/
    /*box-shadow: var(--shadow-1);*/
    border-radius: 10px;
    box-shadow: var(--shadow-1);
}

.windowed-2-small { /* Tuomo DESIGN: SMALL POP-UP WINDOW */
    /*max-width: 400px;*/
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    padding: 50px;
    margin: 10px;
}
.windowed-2-small > div                   { flex: 100%; margin-bottom: 10px; text-align: center; }
.windowed-2-small > div:nth-child(1)      { margin-bottom: 15px; }
.windowed-2-small > div:nth-last-child(1) { margin-bottom: 0; }


/*--- BUTTONS: CLOSE -----------------------------------------------------------------------*/

/*.admin-button-close {
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    background: url(../img/icon-close.svg) no-repeat center 5px / 15px;
    transition: all 0.2s;
}*/

.button-close-4 {
    float: right;
    padding: 10px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    background: url(../img/icon-close-light.svg) no-repeat center / 12px;
    transition: all 0.2s;
}
.button-close-4:active {
    background: url(../img/icon-close-light.svg) no-repeat center / 10px;
}
.button-close-4:hover {
    transform: rotate(90deg);
    transition: all 0.5s;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/*--- VUE CLASSES ANIMATIONS --------------------------------------------------------------------------------------------*/

.zoom-enter-active,
.zoom-leave-active {
  transition: all 0.25s;
}
.zoom-enter,
.zoom-leave-to {
  /*opacity: 0;*/
  /*max-height: 100px;*/
  transform: scale(0,0);
  transform-origin: top;
  /*transform: translateY(100px);*/
}

/*---*/

.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s ease-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*---*/

.slide-leave-active,
.slide-enter-active {
  transition: all 0.1s ease-out;
}
/*
.slide-leave {
    transform: scale(1,0);
    transform-origin: top;
}
*/
.slide-enter {
    opacity: 0;
    transform: scale(1,0);
    transform-origin: top;
}

.slide-enter-to {
    opacity: 1;
    transform: scale(1,1);
    transform-origin: top;
}

.slide-leave-to {
    opacity: 0;
    transform: scale(1,1);
    transform-origin: bottom;
}

/*---*/

.slide_aside-leave-active, /* For example, bottons' toggle */
.slide_aside-enter-active {
  transition: transform 0.1s ease-out;
}
.slide_aside-enter {
  transform: scale(0,1);
  transform-origin: left;
}
.slide_aside-enter-to {
  transform: scale(1,1);
  transform-origin: left;
}
.slide_aside-leave {
  transform: scale(0,1);
}
.slide_aside-leave-to {
  transform: scale(1,1);
  transform-origin: right;
}

/*---*/

.list-enter-active,
.list-leave-active {
  transition: all 0.2s ease-out;
}

.list-enter {
  opacity: 0;
  transform: translateX(40px) scaleY(1.3);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}
/*
.list-leave {
  position: absolute;
}
*/
.list-leave-to {
  opacity: 0;
  transform: translateX(-40px) scaleY(0.8);
  /*transform: scaleY(0);
  transform-origin: center top;*/
}


/*-----------------------------------------------------------------------------------------------------------------------*/
/*--- CSS ANIMATIONS ----------------------------------------------------------------------------------------------------*/

@keyframes animation-spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

@keyframes animation-icon-slide_down {
  from { background-position: center 100%; }
  to   { background-position: center 0%; }
}

@keyframes animation-breathing {
  from { transform: scale(1); }
  to { transform: scale(1.3); }
}


/*--- FILE CLASSES (how to show attached files) -----------------------------------------------------------------------*/

.file-uploaded-2 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.file-uploaded-2 > div:nth-child(1) { flex: 50%; }
.file-uploaded-2 input              { width: auto; margin-left: 10px; }

.file-uploaded-3 { 
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}
/*.file-uploaded-3   input { width: auto; float: none; }*/
/*.file-uploaded-3 div { border: 1px solid green; }*/
.file-uploaded-3 > div:nth-child(1) { word-break: break-all; }
.file-uploaded-3 > div:nth-last-child(1) { flex: 0 0 17px; } /* "Close" button */


/*--- VALIDATION ----------------------------------------------------------------------------------------------------*/

.validation { /* For MSGs under INPUTs  */
    width: 100%;
    font-size: 0.875rem;
    color: var(--color-attention);
    padding: 3px 0;
    margin-left: 10px;
    text-align: left;
    max-height: 300px;
    transition: max-height 0.3s;
}


/*--- AUTOCOMPLETE ----------------------------------------------------------------------------------------------------*/

.autocomplete-1 {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--color-midnight);
    background: var(--color-white);
    padding: 0 !important;
    margin-top: 5px;
    position: absolute;
    z-index: 101;
    border-radius: 5px;
    box-shadow: var(--shadow-1);
    transition: all 0.2s ease-out;
}
.autocomplete-1 > div {
    width: 100%;
    padding: 10px !important;
    margin: 0;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 2px dotted var(--color-yellow);
    transition: all 0.2s ease-out;
}
/*.autocomplete-1 > div:hover,*/
.autocomplete-1-active {
    background: var(--color-yellow);
    transition: all 0.2s ease-out;
}
.autocomplete-1 > div:last-child {border-bottom: none;}


/*--------------------------------------------------------------------------------------------------------------------*/
/*--- TOOLTIP --------------------------------------------------------------------------------------------------------*/

.tooltip { /* COMMON style for all TOOLTIPS */
    /*width: 400px;*/
    min-width: 200px;
    max-width: 400px;
    font: 1rem "OpenSans-Regular" !important; /* To block using PARENT styles */
    padding: 20px;
    word-break: normal;
    position: absolute;
    z-index: 1000001;
    opacity: 1;
    cursor: default;
    border-radius: 10px;
    color: var(--color-midnight);
    background: var(--color-white);
    box-shadow: var(--shadow-1);
    transition: opacity 0.3s;
}


/*--- TOOLTIP "INPUT" ---------------------------*/

.tooltip-input::after { /* Tooltip cloud's triangle */
    content: "";
    position: absolute;
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
}

.tooltip-bottom-1 {
    top: 7px;
    left: 70px;
}
.tooltip-bottom-1::after {
    top: -6px;
    left: 5%;
    border-color: transparent transparent var(--color-white) transparent;
}

.init-signup-tooltip {
    bottom: 63px;
    left: 10px;
}
.init-signup-tooltip::after {
    bottom: -12px;
    left: 25px;
    border-color: var(--color-white) transparent transparent transparent;
}


/*--- TOOLTIP "INFO" ------------------------------*/

.tooltips-info-button { /* Common style of TOOLTIPs INFO BUTTON */
    position: relative;
    display: inline-block;
    border-radius: 25px;
    background: var(--color-yellow);
    cursor: pointer;
    margin-left: 5px;
}
.tooltips-info-button > div:nth-child(1) { width: 100%; height: 100%; transition: all 0.3s; }

.tooltips-info-button-text-1 { /* TOOLTIPs styles for TEXTs */
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
    padding: 4px;
}

.tooltips-info-button-text-2 { /* TOOLTIPs styles for TEXTs */
    width: 23px;
    height: 23px;
    padding: 6px;
}

.tooltips-info-button-title { /* TOOLTIPs styles for TITLEs */
    width: 28px;
    height: 28px;
    margin: 0 0 -9px 10px;
    padding: 6px;
}

.tooltips-info-icon       { background: url(../img/icon-tooltip-info.svg) no-repeat center / contain; }
.tooltips-info-icon:hover { background: url(../img/icon-tooltip-info_hover.svg) no-repeat center / contain; }

.tooltips-info {
  width: 400px;
}
.tooltips-info::after { /* Tooltip cloud's triangle */
    content: "";
    position: absolute;
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--color-white) transparent;
}

.tooltips-info-title-1 {
    top: 34px;
    left: -225px;
}
.tooltips-info-title-1::after {
    top: -6px;
    left: 233px;
}

.tooltips-info-text-1 {
    top: 29px;
    left: -225px;
}
.tooltips-info-text-1::after {
    top: -6px;
    left: 229px;
}

.tooltips-info-text-1-left {
    top: 29px;
    left: -95px;
}
.tooltips-info-text-1-left::after {
    top: -6px;
    left: 97px;
}

/* --- TOOLTIPS "EXTRA" --------------------------------------------- */

.tooltips-extra-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
.tooltips-extra-main:hover {
  overflow: visible !important;
}

.tooltips-extra-container {
  position: relative;
  width: 100%;
  height: 0;
  overflow: visible !important;
}

.tooltips-extra::after { /* Tooltip cloud's triangle */
    content: "";
    position: absolute;
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
    /*border-color: transparent transparent var(--color-white) transparent;*/
}

.tooltip-top-right-1 {
    bottom: 10px;
    left: -15px;
}
.tooltip-top-right-1::after {
    bottom: -11px;
    left: 20px;
    border-color: var(--color-white) transparent transparent transparent;
}

.tooltip-bottom-right-1 {
    top: 53px;
    left: -10px;
}
.tooltip-bottom-right-1::after {
    top: -6px;
    left: 20px;
    border-color: transparent transparent var(--color-white) transparent;
}


/*--- TEXT: EFFECTS --------------------------------------------------------------------------------------*/

.text-disabled-3-simple {
    color: var(--color-gray);
    font-size: 0.94rem;
    /*font-weight: normal !important; /* To keep class at it was designed */
    font-style: italic;
}

.text-attention-3 {
    font: 0.94rem "OpenSans-Bold";
    padding: 10px 10px 10px 25px !important; 
    border-radius: 10px;
    background: var(--color-attention);
    color: var(--color-white);
}


/*--- RULES --------------------------------------------------------------------------------------*/

.box-shared-rules {
  max-width: 800px;
}

.box-shared-rules-main {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}
.box-shared-rules-main > div:nth-child(1) { margin-bottom: 40px; }
.box-shared-rules-main > div:nth-child(2) { margin-bottom: 30px; }
.box-shared-rules-main   ul, ol           { margin: 10px 0 10px 25px; }
.box-shared-rules-main   li               { margin-bottom: 7px; }
.box-shared-rules-main   p                { margin-bottom: 10px; }


/*--- "boxButtonSubmitMain" ---------------------------------------------------------------------------------------*/

.box-button-submit-main-disable {
  padding-left: 45px !important;
  transition: all 0.3s;
}

.box-loading-icon-button-3 {
    position: absolute;
    top: 20px;
    left: 15px;
    height: 22px;
    width: 22px;
    background: url("../img/icon-loading-light.svg") no-repeat center center / 22px;
    animation: animation-spin 2s linear 0s infinite;
}


/*--- BOX ATTENTION: CORNER BASIC ---------------------------------------------------------------------------------*/

.box-attention-corner-basic {
  width: 200px;
  height: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  font-family: "Barlow-Bold";
  color: var(--color-yellow-pale-5);
  background: var(--linear-gradient-navy-2);
  /*background: linear-gradient(var(--admin-color-midnight), var(--admin-color-navy-darker));*/
  position: fixed;
  z-index: 100;
  padding-bottom: 10px;
  top: -24px;
  right: -74px;
  transform: rotate(45deg);
  box-shadow: 0px 1px 12px 2px var(--color-midnight);
}


/*--- WINDOW: NOTIFICATION: SIMPLE BASIC ---------------------------------------------------------------------------------*/

.window-notification-simple-basic {
    max-width: 400px;
    flex-flow: column;
    align-items: center;  
    color: var(--color-navy-dark);
}
.window-notification-simple-basic > div:nth-last-child(1) { flex: 0 0 auto; margin-top: 10px; }


/*--- INIT: HEADER --------------------------------------------------------------------------------------*/

.init-top {
    display: flex;
    flex-flow: column;
    height: 600px;
    background: url(../img/Espanja-asunnot-1.jpg) no-repeat center 80% / 100%;
    /*background: url(../img/Espanja-asunnot-1.jpg) no-repeat center -900px / 100%;*/
}
.init-top > div:nth-child(3) { flex: 100%; }

.init-middle {
    color: var(--color-yellow-pale);
    padding: 45px 30px;
}
.init-middle > div:nth-child(1) { margin-bottom: 10px; }
.init-middle > div:nth-child(2) { margin-bottom: 35px; }

.init-header {
    width: 100%;
    height: 60px;
    background: var(--color-red-deep-9);
    background: var(--linear-gradient-red-deep-1);
    padding: 0 30px 0 30px;
}

.init-header-1 {
    height: 100%;
    display: flex;
    justify-content: space-between;
    /*max-width: 1024px;
    margin: 0 auto;*/
}
.init-header-1 > div:nth-child(1) { flex: 0 0 225px; }
.init-header-1 > div:nth-child(2) { flex: 70%; }

/* --- */

.init-header-logo {
    background: url('../img/espanjan-koti-logo-main.svg') no-repeat center center;
}
.init-header-logo > div:nth-child(2) { flex: 70%; } /* "navbar-main_inner-links" */

/* --- */

.init-header-buttons {
    display: flex;
    align-items: center;
    overflow: visible;
}
.init-header-buttons > div:nth-child(1) { margin-right: 10px; }


/* --- */

.init-decor-3 {
    width: 100%;
    height: 10px;
    opacity: 0.4;
}

/*
.init-decor-4 {
    width: 100%;
    height: 13px;
    opacity: 0.2;
    background: none;
    background: linear-gradient(var(--color-yellow-pale), var(--color-white-0));
}
*/

/* --- */

.init-slogans {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /*margin-top: 10%;*/
    padding: 0 30px 0 30px;
}
.init-slogans > div:nth-child(1) { flex: 0 0 auto; }

.init-slogan-main {
    color: var(--color-navy-darker);
    max-width: 750px;
    padding: 20px 50px;
    background: var(--color-yellow-8);
    background: var(--linear-gradient-yellow-2);
}
.init-slogan-main h1 { margin: 0; }

.init-slogan-extra {
    font-size: 1.2rem;
    color: var(--color-yellow-pale);
    margin-top: 10px;
    margin-left: 20px;
    max-width: 500px;
    padding: 10px 30px;
    background: var(--color-navy-5);
    background: var(--linear-gradient-navy-1);
}


/*---  -----------------------------------------------------------*/
.footer-main {

}


/*--- FORM "Jätä pyyntösi" -----------------------------------------------------------*/

.form-request-leave > div                   { margin-bottom: 20px; }
.form-request-leave > div:nth-last-child(1) { margin-bottom: 0; margin-top: 50px; }

.form-request-leave-1 > div:nth-child(1) { margin-bottom: 10px; margin-left: 10px; }
.form-request-leave-1   input            { max-width: 600px; }

.form-request-leave-msg   textarea            { min-height: 150px; }
.form-request-leave-msg > div:nth-child(-n+3) { margin-left: 10px; }
.form-request-leave-msg > div:nth-child(3)    { margin-bottom: 10px; }

.form-request-leave-buttons {
    display: flex;
    margin-top: 10px;
}
.form-request-leave-buttons > div { margin-right: 10px; }

.add-multiple-main {
    display: flex;
    flex-flow: column;
}
.add-multiple-main > div                   { margin-bottom: 10px; }
.add-multiple-main > div:nth-child(1)      { margin-left: 10px; margin-bottom: 0; }
.add-multiple-main > div:nth-child(2)      { margin-left: 10px; }
.add-multiple-main > div:nth-last-child(2) { max-width: 600px; }
.add-multiple-main > div:nth-last-child(1) { margin-top: 15px; }

.add-multiple-main-2 {
    display: flex;
}
.add-multiple-main-2 > div:nth-child(1)       { max-width: 600px; flex: 70%; margin-right: 10px; }
.add-multiple-main-2 > div:nth-child(2)       { flex: 0 0 auto; }
.add-multiple-main-2 > div:nth-child(2) input { height: 100%; }


/*--- FOOTER -------------------------------------------------------------------------*/

.footer-main {
    color: var(--color-navy-light);
    display: flex;
    flex-flow: column;
    align-items: center; /* Perfect Centering */
    padding-bottom: 45px;
}
.footer-main > div:nth-child(1) { height: 50px; width: 200px; margin-bottom: 10px; } /* LOGO */
.footer-main > div:nth-child(3) { font-size: 0.87rem; margin-top: 10px; } /* VERSIO */


/*--- INIT: "MITEN SE TOIMII" DESCRIPTION -------------------------------------------------------------------------*/
/*
.init-description-how_it_works-container {
    width: 100%;
    background: rgba(16, 0, 78, 0.65);
}

.init-description-how_it_works {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    border: 1px hotpink solid;
    color: white;
    padding: 10px; 
}
.init-description-how_it_works div { border: 1px hotpink solid; }

.init-description-how_it_works-list {
    display: flex;
    align-items: center;
    padding: 10px;
}

.init-description-how_it_works-list > div:nth-child(1) { 
    flex: 0 0 50px;
    height: 50px;
    border-radius: 25px;
    background: rgba(16, 0, 78, 0.65);

}
.init-description-how_it_works-list > div:nth-child(2) {

}
*/


/*--- INITIAL: FOLLOW US ---------------------------------------------------------------------------*/
/*
.init-followus {
    text-align: center;
    padding: 20px;
    border-top: 3px solid gainsboro;
}

.init-followus-title {
    text-align: center;
    padding: 25px 0px 15px 0px;
}

.init-followus-social {
    width: 45px;
    height: 45px;
    margin: 0px 0px -15px 10px;
    display: inline-block;
    background: #309e83 url() no-repeat center / 45px;
    border-radius: 50%;
    transition: 0.3s;
}

.init-followus-social:hover {
    box-shadow: 7px 7px 7px lightgrey;
}
*/
/*#init-followus-social-facebook {background-image: url(../img/icon-social-facebook.svg);}
#init-followus-social-twitter {background-image: url(../img/icon-social-twitter.svg);}
#init-followus-social-linkedin {background-image: url(../img/icon-social-linkedin.svg);}*/

/*#init-followus-social-facebook:hover {background-color: #3b5998;} /* Facebook color*/
/*#init-followus-social-twitter:hover {background-color: #55acee;} /* Twitter color*/
/*#init-followus-social-linkedin:hover {background-color: #0077B5;} /* Linkedin color*/



/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*--- MEDIAS -------------------------------------------------------------------------------------------*/


/*--- 531-800 - Common rules for several resolutions ---------------------------------------------------*/
@media screen and (max-width: 800px) { /* Common Media for several screen resolutions */

    /*
    .header-logo { 
        width: 100%;
        height: 70px;
        margin: 0; 
        display: block;
        border-radius: 0;
        box-shadow: none;
    }
    */

}


/*--- ->400 ----------------------------------------------------------------------------------------------*/
@media screen and (max-width: 400px) { /* 400px breakpoints is added according to design needs */
}


/*--- 401-530 -----------------------------------------------------------------------------------------*/
@media screen and (min-width: 401px) and (max-width: 530px) { /* 400px and 530px breakpoints is added according to design needs */

}


/*--- 531-800 --------------------------------------------------------------------------------------------*/
@media screen and (min-width: 531px) and (max-width: 800px) { /* For Portrait Tablets */

}


/*--- 801-1024 ----------------------------------------------------------------------------------------*/
@media screen and (min-width: 801px) and (max-width: 1024px) {

    .container {
        width: 100%;
    }


}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
