<template>
  <div class="init-description-how_it_works-container">
    
    <article class="init-description-how_it_works">
      
      <div class="init-description-how_it_works-list">
        <div>1</div>
        <div>
          <div>Täytät lomake</div>
          <div>Täyttämällä lomakkeetta ilmoitat meille minkälaisestä asunnoitsa olet kiinostunut.</div>
        </div>
      </div>
      
      <div class="init-description-how_it_works-list">
        <div>2</div>
        <div>
          <div>Saat tarjouksia</div>
          <div>Saat meiltä sinua kiinnostavia tarjouksia, joita voit hyväksyä vai hylätä.</div>
        </div>
      </div>
      
      <div class="init-description-how_it_works-list">
        <div>3</div>
        <div>
          <div>Saat Vahvistuksen</div>
          <div>Hyväksyessäsi sinun valistemasi assunnon saat meiltä kaikki myyjän tai välittäjän yhteydet.</div>
        </div>
      </div>

    </article>

  </div>
</template>


<script> // ----------------------------------------------------------------------------

//import itemSignup from '@/components/itemSignup'


export default {
  name:        'itemInitDescriptionHowItWorks',
  components: {},

  data () {
    return {

       userType: '', // Type of the clicked buttom's id
       /*classHide: {
        pp: false,
        pc: false,
        ir: false,
        ic: false
       },*/

    } // return
  }, // data


  methods: {
    
    //example () {},

  }, // methods

}
</script>