<template>

  <!-- MAIN DESCRIPTION ............................................................ -->
  <div class="box-main-3">

    <div class="init-decor-3"></div>

    <h2 class="c-yellow">Palveluehdot</h2>
    <ul>
      <li> Sinun ei tarvitse maksaa mitää meidän palvelusta - se on täysin ilmainen </li>
      <li> Sinun ei tarvitse solmiä mitää papereita meidän kanssa </li>
      <li> Asiakkalla on oikeus pyrkää palvelumme koska vain ilmoitamalla meille sähköpostitse vai puhelimetse </li>
      <li> Asiakkaan on tarkistettava hänen valitsema kohde huollisesti itse ennen ostamista. Omistaja vai asunnon välittäjä on vastuulinen kohdistä, Espanjankoti OY ei ole omistaja eikä välittäjä, vaan ainoatsaan. Espanjankoti OY ei vasta tarjoamista kohdista ja putteistä tai väärin ilmoitettuja tietoista.</li>
    </ul>

  </div>

</template>


<script> // ----------------------------------------------------------------------------

//import itemSignup from '@/components/itemSignup'


export default {
  name:        'itemInitDescriptionMain',
  components: {},

  data () {
    return {

       userType: '', // Type of the clicked buttom's id
       /*classHide: {
        pp: false,
        pc: false,
        ir: false,
        ic: false
       },*/

    } // return
  }, // data


  methods: {
    
    //example () {},

  }, // methods

}
</script>