<template>
  <div class="relative">
    <form autocomplete="off">

      <input type        = "text"
             class       = "input-text-init-1"
            :class       = "inputTextTheme2"
            :name        = "valueType"
             ref         = "valueMain"
            :placeholder = "placeholderMain"
             v-model     = "autocompleteMain.valueMain"
            @input       = "autocomplete"
            @click       = "listAllShow"
            @blur        = "autocompleteClose"
            @keyup.down  = "autocompleteFocusDown"
            @keyup.up    = "autocompleteFocusUp"
            @keydown.enter.stop.prevent = "autocompleteEnter">

      <div class      = "autocomplete-1"
           ref        = "autocompleteMain"
          @mouseleave = "autocompleteFocusToDeault">
        
        <template v-for = "(match, index) in autocompleteMatches">

          <div @click      = "autocompleteAddCurrent(match)"
               @mouseover  = "autocompleteFocusMouseOver(index)"
               @mouseleave = "autocompleteFocusMouseLeave(index)" 
                ref        = "matched">
            {{ match }}
          </div>

        </template>

      </div>

    </form>
  </div>
</template>


<script> // ----------------------------------------------------------------------------------------------------

import mixinDataPlaces from '@/mixins/mixinDataPlaces'


export default {
  name:    'boxAutocompleteMain',
  props:  [ 
           'valueParent',
           'placeholderMain', // Just placeholder
           'valueType' // List of values, shich will be used for automaching
          ],
  mixins: [ 
            mixinDataPlaces
          ],


  data () { 
    return {

      inputTextTheme2: 'input-text-theme-2',
      
      listAll:             [], // Get list, from where matches are made
      autocompleteMatches: [], // List of matches

      focusCurrent:      -1,
      listaAllAllowFlag: false, // Allow open list of ALL insurances types at double click

      autocompleteMain: { // Value of INPUT, need to be an object for VALIDATION
        valueMain: ''
      } 
      //autocompleteAddCurrentClickedFlag: false, // FLAG
    
    } // return
  }, // data


  // ===========================================================================================================
  created () { 

    // Copying all insuranse names to this component
    if (this.valueType == 'place') {
      this.mixinDataPlaces.forEach(type => this.listAll.push(type.name));
    }
  }, // created


  // ===========================================================================================================
  mounted () { 
    
    // Need for "itemClientInsuranceExistingEdit": to take valueMain of already existed current insurance
    this.autocompleteMain.valueMain = this.valueParent;

  }, // mounted


  // ===========================================================================================================
  watch: { 

    //--- If valueMain is changed to EMPTY -------------------------------------------------------------------------
    valueParent () {
      if      (this.valueParent == '') { this.autocompleteMain.valueMain = ''; }
      else if (this.valueParent)       { this.autocompleteMain.valueMain = this.valueParent; }
    }
  
  }, // watch


  // ===========================================================================================================
  methods: { 

    //--- To autocomplete at INPUT's "onkeyup" -----------------------------------------------------------------
    autocomplete () {

      this.autocompleteMatches = this.listAll.filter( 
        e => e.toLowerCase().trim().includes(this.autocompleteMain.valueMain.toLowerCase().trim()) 
      );
      if (!this.autocompleteMain.valueMain || /^\s*$/.test(this.autocompleteMain.valueMain)) { // IF insuranceType is EMPTY OR there are "space(s)"
        this.autocompleteMatches = [];
      }
      this.$emit('value-main-update', this.autocompleteMain.valueMain, this.valueType); // Sending INPUT VALUE to PARENT
      this.$emit('mixin-validation', this.autocompleteMain.valueMain/*, this.valueType*/); // VALIDATION starts in PARENT

    },

    //--- Adding CERRENT VALUE to autocompleteMain.valueMain -----------------------------------------------
    autocompleteAddCurrent (valueCurrent) {

      this.autocompleteMain.valueMain = valueCurrent;
      this.$emit('value-main-update', this.autocompleteMain.valueMain, this.valueType); // Sending INPUT VALUE to PARENT
      this.$refs.valueMain.focus(); // Need here to start VALIDATION by clicking on "listAllShow"
      this.$refs.valueMain.blur(); // Need here to start VALIDATION by clicking on "listAllShow"
      this.$refs.valueMain.focus(); // FOCUS to INPUT (as User may want to continue editing)
      //this.autocompleteAddCurrentClickedFlag = true; // Allow "listAllShow" to make VALIDATION

    },

    //--- Close Autocomplete window, when User click somewhere else --------------------------------------------
    autocompleteClose () { 

      setTimeout(() => this.autocompleteMatches = [], 300);
      this.focusCurrent = -1;
      this.$emit('value-main-update', this.autocompleteMain.valueMain, this.valueType); // Sending INPUT VALUE to PARENT
      this.$emit('mixin-allow-validate', this.autocompleteMain.valueMain/*, this.valueType*/); // VALIDATION starts in PARENT

    },

    //--- Navigate DOWN through Autocomplete window ------------------------------------------------------------
    autocompleteFocusDown () {

      if (this.focusCurrent < this.$refs.matched.length-1) { // Prevent to scroll over the list
        
        this.focusCurrent++;
        
        if (this.focusCurrent > 0) { // Prevent "undefined" error
          this.$refs.matched[this.focusCurrent-1].classList.remove('autocomplete-1-active');
        }

        this.$refs.matched[this.focusCurrent].classList.add('autocomplete-1-active');
        //this.$refs.matched[this.focusCurrent].focus();
        this.scrollToActiveGroup();

      }

    },

    //--- Navigate UP through Autocomplete window --------------------------------------------------------------
    autocompleteFocusUp () {
      
      if (this.focusCurrent > 0) { // Prevent to scroll above the list
        
        this.focusCurrent--;
        
        this.$refs.matched[this.focusCurrent].classList.add('autocomplete-1-active');
        this.$refs.matched[this.focusCurrent+1].classList.remove('autocomplete-1-active');
        //this.$refs.matched[this.focusCurrent].focus();
        this.scrollToActiveGroup();

      }

    },

    //--- Add VALUE on ENTER ------------------------------------------------------------------------------------
    autocompleteEnter () {

      if (this.focusCurrent > -1) {
        this.$refs.matched[this.focusCurrent].click();
        this.autocompleteClose();
      }
      else if (this.focusCurrent == -1) { //    When ENTER is pushed second time...
        this.$emit('parent-submit');      // ...envoke PARENT "Submit" button
      }
      //this.autocompleteMain.valueMain = this.$refs.matched[this.focusCurrent].valueMain;
      //this.$emit('value-main-update', this.autocompleteMain.valueMain); // Sending INPUT VALUE to PARENT
      //this.focusCurrent = -1;

    },

    //--- To set FOCUS of MOUSE as a premier --------------------------------------------------------------------
    autocompleteFocusMouseOver (index) {

      if (this.focusCurrent > -1) {
        this.$refs.matched[this.focusCurrent].classList.remove('autocomplete-1-active');
        //this.focusCurrent = -1;
      }
      this.$refs.matched[index].classList.add('autocomplete-1-active');      
      this.focusCurrent = index;

    },

    //--- To unset FOCUS of MOUSE as a premier --------------------------------------------------------------------
    autocompleteFocusMouseLeave (index) {

      this.$refs.matched[index].classList.remove('autocomplete-1-active');  
      //this.focusCurrent = -1;    

    },

    //--- To set FOCUS at a DEFAULT VALUE -------------------------------------------------------------------------
    autocompleteFocusToDeault () {

      this.focusCurrent = -1;    

    },

    //--- Close Autocomplete window, when User click somewhere else -----------------------------------------------
    listAllShow () { 

      if (!this.autocompleteMain.valueMain || /^\s*$/.test(this.autocompleteMain.valueMain)) { // IF valueMain is EMPTY OR there are "space(s)"
        if (this.listaAllAllowFlag == false) {
          this.listaAllAllowFlag = true;
          setTimeout(() => this.listaAllAllowFlag = false, 2000); // Time for making second CLICK
        }
        else if (this.listaAllAllowFlag == true) {
          this.autocompleteMatches = this.listAll;
          this.listaAllAllowFlag = false;
        }
      }
      /*if (this.autocompleteAddCurrentClickedFlag == true) { // To make VALIDATION after "autocompleteAddCurrent"
        this.$emit('mixin-allow-validate', this.autocompleteMain); // VALIDATION starts in PARENT
        this.autocompleteAddCurrentClickedFlag = false;
      }*/
      
    },

    //--- Scroll to active objects --------------------------------------------------------------------------------
    scrollToActiveGroup () {

      //let length    = this.$refs.matched.length; // Take length of the list of matches 
      let remainder = 8; // Set an interval, when SCOLL starts
      let pages     = Math.floor(this.$refs.matched.length / remainder);
      let time      = 1;
      let scroll    = 0; // Scroll destination

      if (this.focusCurrent > remainder) {

        while (time <= pages) {
          let periodFrom = remainder * time + 1; 
          let periodTo   = remainder * time + remainder;
          if (this.focusCurrent >= periodFrom && this.focusCurrent <= periodTo) {
            scroll = this.$refs.matched[this.focusCurrent].offsetHeight * remainder * time;
          }
          time++;
        }

      }
      else { scroll = 0; } // For the first group

      this.$refs.autocompleteMain.scroll({ top: scroll, behavior: 'smooth' });
  
      /*if (isInteger(this.focusCurrent / remainder)) {
        let scroll = this.$refs.matched[this.focusCurrent].offsetTop - this.$refs.matched[this.focusCurrent].offsetHeight;
        this.$refs.autocompleteMain.scroll({ top: scroll, behavior: 'smooth' });
        //this.$refs.autocompleteMain.scrollTop = scroll;
      }*/

    },


  }, // methods

}
</script>

