<template>
<transition name="fade" mode="out-in">

    <!-- TODO: delete it after connection -->
    <div class="box-attention-corner-basic"><div>DEV</div><div>MODE</div></div>

</transition>
</template>


<script> // ----------------------------------------------------------------------------------------------------------

//import mixinXhrPostAsyncApp from '@/mixins/mixinXhrPostAsyncApp'


export default {
  name:    'boxAttentionCornerBasic',
  props: [
           // 'textMain',
           // 'titleMain' // OPTIONAL
         ],
  //components: { boxValidationServerBasic },
  //mixins:     [mixinXhrPostAsyncApp ],

  data () {
    return {

      // buttonTheme1: 'button-theme-1',
      // windowClass:  'block-1-theme-1',

      //textMain: 'Jotain meni pieleen.',

    } // return
  }, // data


  // ===========================================================================================================
  created () {

    // document.body.classList.add('overflow-hidden'); // For NOT to SCROLL whole page at opened POP-UP WINDOW

    // If "DARK" THEME
    /*
    if (this.$store.state.userTheme == 'dark') {
      this.windowClass = 'theme-dark-block-3';
    }
    */

  }, // created


  // ===========================================================================================================
  beforeDestroy () {

    // document.body.classList.remove('overflow-hidden'); // After closing POP-UP WINDOW there is no need in that CLASS
  
  }, // beforeDestroy


  // ===========================================================================================================
  methods: {

    //---  -------------------------------------------------------------
    //insuranceExistingDeleteSubmit () {}

  }, // methods


}
</script>

