<template>

  <!-- BUTTON: SUBMIT MAIN ............................................................................. -->
  <div>
    <div class="relative"><!-- The 2nd DIV is for dealing with all this possible paddings in PARENTS -->
    
      <div class = "box-loading-icon-button-3"
           v-if  = "!submitAllow">
      </div>
    
      <input type        = "button"
            :class       = "[{ 'box-button-submit-main-disable' : !submitAllow }, buttonTheme2, buttonClassMain]"
            :value       = "submitButtonValueSet"
            :disabled    = "!submitAllow||parentDisabled"
            :data-action = "dataActionValue"
            @click       = "$emit('submit-main')">
    
    </div>
  </div>

</template>


<script> // -------------------------------------------------------------------------------------------------------

//import mixinXhrPostAsyncApp from '@/mixins/mixinXhrPostAsyncApp'


export default {
  name:    'boxButtonSubmitMain',
  //mixins: [ mixinXhrPostAsyncApp ],
  //components: {itemSignup},

  props:      [
               'submitAllow', 
               'submitButtonValue',
               'parentType', // OPTIONAL: for ex. "admin", "admin-bigger"
               'parentDisabled', // OPTIONAL: when PARENT has "disabled" attr for this INPUT
               'dataAction' // OPTIONAL: only when reCaptcha in use
              ],


  data () {
    return {

      buttonTheme1:            'button-theme-1',
      buttonTheme2:            'button-theme-2',
      buttonClassMain:         'button-3-bigger',
      //buttonClassMainDisabled: 'box-button-submit-main-disable',

      dataActionValue: false

    } // return
  }, // data


  // ===========================================================================================================
  mounted () {

    /*
    if (this.dataAction) this.dataActionValue = this.dataAction;

    if (this.parentType == 'admin-bigger') {
      this.buttonClassMain = 'admin-button-1-bigger';
      this.buttonTheme1    = 'admin-button-theme-1'
    }
    */

  }, // mounted


  // ===========================================================================================================
  computed: {
    
    submitButtonValueSet () {
      if (this.submitAllow) { return this.submitButtonValue } else { return 'Lähetetään...' }
    },
/*
    submitButtonDisabled () {
      if (this.submitAllow) { return this.submitButtonValue } else { return 'Lähetetään...' }
    }
*/
  }, // computed


  // ===========================================================================================================
  methods: {
    
    /*
    dataActionSet () {
      if (this.dataAction) { return this.dataAction } else { return false }
    }
    */

  }, // methods

}
</script>

