<template>

  <footer>
    
    <div class="footer-main">
      <div class="init-header-logo"></div>
      <div>Copyright &copy; Espanjankoti.fi 2020</div>
      <div>V 2.0.3.2</div>

    </div>
    <!--
    <div class="init-followus">
        <h4 class="init-followus-title">Seuraa meitä:
          <span class="init-followus-social-block">
           <a class="init-followus-social" id="init-followus-social-facebook" href=""></a>
           <a class="init-followus-social" id="init-followus-social-twitter" href=""></a>
           <a class="init-followus-social" id="init-followus-social-linkedin" href=""></a>
          </span>
        </h4>
    </div>
    -->
  </footer>

</template>


<script> // ----------------------------------------------------------------------------

//import itemSignup from '@/components/itemSignup'


export default {
  name:        'boxFooter',
  components: {},

  data () {
    return {

       userType: '', // Type of the clicked buttom's id
       /*classHide: {
        pp: false,
        pc: false,
        ir: false,
        ic: false
       },*/

    } // return
  }, // data


  methods: {
    
    //example () {},

  }, // methods

}
</script>