<template>

  <div class="form-request-leave-theme-2">

  <article class="windowed-3 form-request-leave form-request-leave-theme-2-2">


    <!-- MAIN TITLE ............................................................................. -->

    <div><h2 class="title-1-theme-2">Jätä pyyntösi</h2></div>


    <!-- VALIDATION BOX from SERVER -->
    <box-validation-server-basic v-show            = "mixinValidationServerBasicShow"
                                :messages          = "mixinValidationServerBasicMessages"
                                @current-box-close = "mixinBoxValidationServerBasicClose"></box-validation-server-basic>

    <!-- FULL NAME .............................................................................. -->
    
    <div class="form-request-leave-1">

      <div><h5>Nimi ja sukunimi</h5></div>

      <div>

        <input type         = "text"
               class        = "input-text-init-1 input-text-theme-2 relative"
               v-model      = "requestLeave.fullName"
              @focus        = "mixinTooltipsInputShowSimple('fullName')"
              @focusout     = "mixinTooltipsInputHide('fullName')"         
              @input        = "mixinValidation_fullName(requestLeave.fullName)"
              @blur         = "mixinValidation_fullName_Start(requestLeave.fullName)"
               autocomplete = "name"
               placeholder  = "Etu- ja sukunimi">

        <!-- TOOLTIPS INPUT -->
        <box-tooltips-input :tooltipsMainShow  = "mixinTooltipsInput.fullName"
                            :tooltipsMainText  = "mixinTooltipsInputText.fullName"
                            @current-box-close = "mixinTooltipsInputHide('fullName')"></box-tooltips-input>
    
        <!-- VALIDATION BOX -->
        <div :class="mixinClassVal.fullName">{{ mixinValidError.fullName }}</div>

      </div>

    </div>


    <!-- EMAIL .............................................................................. -->
    
    <div class="form-request-leave-1">

      <div><h5>Sähköpostiosoite</h5></div>

      <div>

        <input type        = "text"
               class       = "input-text-init-1 input-text-theme-2"
               v-model     = "requestLeave.emailAddress"
              @input        = "mixinValidation_emailAddress(requestLeave.emailAddress)"
              @blur         = "mixinValidation_emailAddress_Start(requestLeave.emailAddress)"
               autocomplete = "email" 
               placeholder = "essi@merkki.fi">

        <!-- VALIDATION BOX -->
        <div :class="mixinClassVal.emailAddress">{{ mixinValidError.emailAddress }}</div>

      </div>

    </div>


    <!-- PHONE NUMBER .............................................................................. -->
    
    <div class="form-request-leave-1">

      <div><h5>Puhelinnumero</h5></div>

      <div>

        <input type         = "text"
               class        = "input-text-init-1 input-text-theme-2 relative"
               v-model      = "requestLeave.phoneNumber"
              @focus        = "mixinTooltipsInputShowSimple('phoneNumber')"
              @focusout     = "mixinTooltipsInputHide('phoneNumber')"
              @input        = "mixinValidation_phoneNumber(requestLeave.phoneNumber)"
              @blur         = "mixinValidation_phoneNumber_Start(requestLeave.phoneNumber)"
               autocomplete = "tel" 
               placeholder  = "Esim. 040 012 34 56">

        <!-- TOOLTIPS INPUT -->
        <box-tooltips-input :tooltipsMainShow  = "mixinTooltipsInput.phoneNumber"
                            :tooltipsMainText  = "mixinTooltipsInputText.phoneNumber"
                            @current-box-close = "mixinTooltipsInputHide('phoneNumber')"></box-tooltips-input>

        <!-- VALIDATION BOX -->
        <div :class="mixinClassVal.phoneNumber">{{ mixinValidError.phoneNumber }}</div>

      </div>

    </div>


    <!-- MESSAGE ...................................................................................... -->
    
    <div class="form-request-leave-msg">

      <div><h5>Viesti</h5></div>
      
      <div>Lisää vapaamuotoinen viesti sinun etsimästäsi kohteestasi.</div>
      
      <div>Enintään {{ msgLimit.limit }} merkkiä ({{ msgLimit.limit - requestLeave.msg.length }} jäljellä).</div>
      
      <transition name="fade" mode="out-in">
        <div v-if="msgLimit.show" class="text-attention-3 m_b-5">
        <span class="button-close-4" @click="msgLimitHide" title="Sulje ikkuna"></span>
        Viesti saa sisältää enintään {{ msgLimit.limit }} merkkiä
        </div>
      </transition>          

      <div><textarea v-model     = "requestLeave.msg"
                     class       = "input-text-init-1 input-text-theme-2"
                    @input       = "msgCatchChangesAtInput"
                    @blur        = "mixinValidation_SharedTextSimple_Start(requestLeave.msg, 'msg')"
                    :maxlength   = "msgLimit.limit"
                     placeholder = "  Kirjoita viesti tähän..."></textarea></div>

      <!-- VALIDATION BOX -->
      <div :class="mixinClassVal.msg">{{ mixinValidError.msg }}</div>

    </div>


    <!-- PLACES ...................................................................................... -->
    
    <div class="add-multiple-main">

      <div><h5>Asumispaikat</h5></div>

      <div>
        <span>Kirjoita tai valitse (kaksoisklikkamalla) vähintään yksi asumiskunta tai alue.</span>
        <br>
        <span>Enintään {{ placesLimit }} kpl.</span>
      </div>

      <div class="add-multiple-main-2">
        
        <div>
          <box-autocomplete-main :valueParent          = "placeCurrent"
                                  placeholderMain      = "Kirjoita asumispaika"
                                  valueType            = "place"
                                 @value-main-update    = "placesTextUpdate"
                                 @mixin-validation     = "mixinValidation_place"
                                 @parent-submit        = "placesTextAdd"> </box-autocomplete-main>
        </div>
        
        <div>
          <input type  = "button"
                 class = "button-3"
                :class = "buttonTheme2"
                 value = "Lisää"
                 name  = "places"
                @click = "placesTextAdd">
        </div>

      </div>

      <!-- VALIDATION BOX -->
      <div :class="mixinClassVal.place">{{ mixinValidError.place }}</div>

      <div>
        <div v-if  = "!requestLeave.places.length"
             class = "text-disabled-3-simple m_l-10">Ei valittuja paikkoja</div>
        <div v-for = "place in requestLeave.places"
             class = "file-uploaded-3 box-1-theme-2">
          {{ place }}
          <span class="button-close-4" @click="placesTextRemove(place)" title="Poista"></span>
        </div>
      </div>

      <!-- ............................................ -->
      <div>
        <label>Minulle saa tarjota paikkoja lähiympäristöstä<input type="checkbox" v-model="isNearbyPlacesAllow"><span class="checkmark"></span></label>
        <box-tooltips-info tooltipsInfoLook="text-1" :tooltipsInfoText="isNearbyPlacesAllowTooltipsInfo"></box-tooltips-info>
      </div>

    </div>

    <!-- RULES ...................................................................................... -->

    <div>

      <label>
        <input type    = "checkbox"
               v-model = "requestLeave.rulesAccepted"
              @change  = "mixinValidation_SharedTrueSimple(requestLeave.rulesAccepted, 'rulesAccepted')">
        <span class="checkmark"></span>
        Ymmärrän ja hyväksyn</label> <span class="link-main" @click="rulesShow=true">käyttöehdot</span>

      <div :class="mixinClassVal.rulesAccepted">{{ mixinValidError.rulesAccepted }}</div>

    </div>

    <!-- ADDITIONAL VALIDATION ERROR MSG -->
    <box-validation-additional-window v-if              = "mixinValidationAdditionalWindow.show"
                                     @current-box-close = "mixinValidationAdditionalWindowClose"></box-validation-additional-window>

    <!-- BUTTONS ....................................................................................... -->

    <div class="form-request-leave-buttons">

      <box-button-submit-main submitButtonValue = "Lähetä"
                             :submitAllow       = "submitAllow"
                             @submit-main       = "formSubmit"></box-button-submit-main>
          
      <div>
        <input type  = "button"
               class = "button-3-bigger"
              :class = "buttonTheme1" 
              @click = "formReset" 
               value = "Tyhjennä lomake">
      </div>
          
    </div>

  </article>

    <!-- RULES .................................................................................................. -->
    
    <box-rules v-if                        = "rulesShow"
              :activate-body-scroll-remove = "true"
               key                         = "sellerRulesWindow"
              @current-box-close           = "rulesShow=false"></box-rules>

    <!-- .......................................................................... -->
    <window-notification-simple-basic v-if              = "requestLeaveSendSuccess.show"
                                     :titleMain         = "requestLeaveSendSuccess.titleMain"
                                     :textMain          = "requestLeaveSendSuccess.textMain"
                                     @current-box-close = "requestLeaveSendSuccess.show=false"></window-notification-simple-basic>

  </div>

</template>


<script> // ----------------------------------------------------------------------------

import mixinValidationCommon            from '@/mixins/mixinValidation/mixinValidationCommon'
import mixinValidation_emailAddress     from '@/mixins/mixinValidation/mixinValidation_emailAddress'
import mixinValidation_fullName         from '@/mixins/mixinValidation/mixinValidation_fullName'
import mixinValidation_phoneNumber      from '@/mixins/mixinValidation/mixinValidation_phoneNumber'
import mixinValidation_recaptcha        from '@/mixins/mixinValidation/mixinValidation_recaptcha'
import mixinValidation_place            from '@/mixins/mixinValidation/mixinValidation_place'
import mixinValidation_SharedTextSimple from '@/mixins/mixinValidation/mixinValidation_SharedTextSimple'
import mixinValidation_SharedTrueSimple from '@/mixins/mixinValidation/mixinValidation_SharedTrueSimple'
import mixinValidationAdditionalWindow  from '@/mixins/mixinValidation/mixinValidationAdditionalWindow'

import mixinTrim                     from '@/mixins/mixinTrim'
import mixinXhrPostAsyncApp          from '@/mixins/mixinXhrPostAsyncApp'
import mixinTooltipsInput            from '@/mixins/mixinTooltipsInput'
import mixinBoxValidationServerBasic from '@/mixins/mixinBoxValidationServerBasic'

import boxValidationServerBasic      from '@/components/boxValidationServerBasic'
import boxValidationAdditionalWindow from '@/components/boxValidationAdditionalWindow'
import boxTooltipsInfo               from '@/components/boxTooltipsInfo'
import boxTooltipsInput              from '@/components/boxTooltipsInput'
import boxButtonSubmitMain           from '@/components/boxButtonSubmitMain'
import boxAutocompleteMain           from '@/components/boxAutocompleteMain'
import boxRules                      from '@/components/boxRules'

import windowNotificationSimpleBasic from '@/components/windowNotificationSimpleBasic'



export default {
  name:        'boxFormRequestLeave',
  mixins:     [ 
                mixinValidationCommon,
                mixinValidation_emailAddress,
                mixinValidation_fullName,
                mixinValidation_phoneNumber,
                mixinValidation_recaptcha,
                mixinValidation_place,
                mixinValidation_SharedTextSimple,
                mixinValidation_SharedTrueSimple,
                mixinValidationAdditionalWindow,
                mixinTrim,
                mixinXhrPostAsyncApp,
                mixinTooltipsInput,
                mixinBoxValidationServerBasic
              ],
  components: {
                boxValidationServerBasic,
                boxValidationAdditionalWindow,
                boxTooltipsInfo,
                boxTooltipsInput,
                boxButtonSubmitMain,
                boxAutocompleteMain,
                boxRules,
                windowNotificationSimpleBasic
              },

  data () {
    return {

      buttonTheme1: 'button-theme-1',
      buttonTheme2: 'button-theme-2',

      requestLeaveSendSuccess: {
        show:       false,
        textMain:  'Kiitos! Lomake lähetetty onnistuneesti.',
        titleMain: 'Lomake lähetetty'
      },

      submitAllow: true,

      msgLimit: {
        limit:   1000,
        show:    false, // For "mixinValidationAdditionalWindowShow"
        clicked: 0 // For "mixinValidationAdditionalWindowShow"
      },

      placesLimit: 5,

      placeCurrent: '', // Only for geting INPUT value and putting it into "requestLeave.places"
      isNearbyPlacesAllowTooltipsInfo: 'Teksti on tulossa...',
       
      requestLeave: {
        fullName:            '',
        emailAddress:        '',
        phoneNumber:         '',
        msg:                 '',
        places:              [],
        rulesAccepted: false,
      },

      rulesShow:     false,
        
      isNearbyPlacesAllow: false

    } // return
  }, // data


  methods: {


    //--- Create from SERVER response user friendly ERROR MSGs -------------------------------------------------
    xhrPostAsyncAppResponseMsgs (response) {
      
      if (response.succeeded == true) {
        // this.$store.commit('requestSuccessfulMainAdd', this.responseMsgSuccessful);
      }
      else if (response.succeeded == false) {
        // this.mixinValidationServerBasicShow = true;
        //response.messages.forEach( msg => this.mixinValidationServerBasicMessages.push(msg) );
        // this.mixinValidationServerBasicMessages.push(response.summaryMessage);
      }

      this.submitAllow = true;

    },


    //---  --------------------------------------------------------------------------------------
    formSubmit () {


      if (this.submitAllow) {

      this.mixinBoxValidationServerBasicClose(); // RESET ERROR msgs from SERVER

      var url    = 'lahetaLomake'; // URL address for HTTPXMLrequest in "mixinXhrPostAsyncApp"
      var header = ''; // Was 'multipart';
      var v      =  this.requestLeave;
      var e      =  this.mixinValidError;

      // this.mixinTrimObject(v); // To get rid of spaces from start/end of the strings
      // this.mixinTrimObject(v.places); // To get rid of spaces from start/end of the strings

      if (v.fullName
      &&  v.emailAddress
      &&  v.phoneNumber
      &&  v.msg
      &&  v.places.length
      &&  v.rulesAccepted
      && !e.fullName
      && !e.emailAddress
      && !e.phoneNumber
      && !e.msg) {

        if (this.$store.state.DEV_mode) {

          this.DEV_formSubmit();

        }
        else {

          this.submitAllow = false;

          this.mixinValidationAdditionalWindowClose(); // RESET it

          var obj = new FormData(); // Request to SERVER with multimedia file

          obj.append('fullName',     v.fullName);
          obj.append('emailAddress', v.emailAddress);
          obj.append('phoneNumber',  v.phoneNumber);
          obj.append('msg',          v.msg);
          v.places.forEach( (place, index) => { obj.append('place' + (index + 1), place); });

          this.mixinXhrPostAsyncApp(obj, url, header);
        }

      }
      else {
        this.mixinIsEmptyBeforeSubmit(v); // mixinValidation: Show error MSG at empty INPUTs
        this.mixinValidation_place_isAddedAny(v.places);
        this.mixinValidationAdditionalWindowShow(); // Show additional VALID. ERROR MSG if ther is any VALID. ERRORs
      } 

      }

    },


    //---  -----------------------------------------------------------------------
    DEV_formSubmit () {

      this.submitAllow = false;
      setTimeout(
        () => {
          // this.submitAllow = true;
          this.formReset();
          this.requestLeaveSendSuccess.show = true;
        }
      , 1800 );

    },


    //---  -----------------------------------------------------------------------
    formReset () {
      Object.assign(this.$data, this.$options.data.apply(this)); // RESET all values
    },

    
    //---  --------------------------------------------------------------------------------------
    msgCatchChangesAtInput () {
      
      if (this.requestLeave.msg.length == this.msgLimit.limit ) {
        this.mixinValidationAdditionalWindowShow(this.msgLimit);
      }
      else {
        if (this.msgLimit.show == true) { this.msgLimit.show = false; }
      }

      this.mixinValidation_SharedTextSimple(this.requestLeave.msg, 'msg');

    },


    //---  --------------------------------------------------------------------------------------
    msgLimitHide () {
      this.msgLimit.show = false;
    },


    //---  ----------------------------------------------------------------
    placesTextAdd () {

      this.mixinValidation_place_Start(this.placeCurrent);
      this.mixinValidation_place_BeforeAdd(this.placeCurrent, this.requestLeave.places, this.placesLimit);

      if (!this.mixinValidError.place) {
        this.requestLeave.places.push(this.placeCurrent);
        this.placeCurrent = ''; // RESET Input at successful email adding
      }

      /*
      if (!this.mixinValidError.place) {

      }

      if (!/^\s*$/.test(this.placeCurrent)) { // not allow any of "empty" value 
        if (this.requestLeave.places.length < this.placesLimit.limit ) { // Set LIMIT of NEW INS
          this.requestLeave.places.push(this.placeCurrent);
          this.placeCurrent = '';
        }
        else { this.mixinValidationAdditionalWindowShow(this.placesLimit); }
      }
     
      // this.mixinAllowValidate(this.requestLeave, 'places');
      */
    },

    
    //---  -------------------------------------------------------------
    placesTextRemove (place) {

      var index = this.requestLeave.places.indexOf(place); // Get the position of current option
      this.requestLeave.places.splice(index, 1);
      if (this.requestLeave.places.length == 0) {
       // this.insuranceExistingAndNewValidationCustom(); // Checking for being NEW and EXISTING insurances
      }
      /*if (this.requestLeave.places.length < this.placesLimit.limit) {
       this.placesLimit.show = false; // To hide LIMIT ERROR MSG
      }*/

    },


    //--- Update "placeCurrent" value -----------------------------------------------------------------------
    placesTextUpdate (value) {
      this.placeCurrent = value;
    },


    //---  -----------------------------------------------------------------------
    /*
    placeValidationCustom () {

      // console.log(this.emailInputed);
      if (!this.placeCurrent || /^\s*$/.test(this.placeCurrent)) {
        this.mixinClassVal.place   = 'validation';
        this.mixinValidError.place = 'Kirjoita sähköpostiosoite';
      }
      else if (this.placeCurrentIsAlreadyAdded()) {
        this.mixinClassVal.place   = 'validation';
        this.mixinValidError.place = 'Tämä asumispaikka on jo lisättynä';
      }
      else if ((/^(\s|\S)*(\S)+(\s|\S)*$/gm).test(this.placeCurrent)) {
        this.mixinClassVal.place   = 'validation';
        this.mixinValidError.place = 'Nimi on liian lyhyt';
      }

    },*/


  }, // methods

}
</script>