<template>
  <transition name="fade" mode="out-in"> 
    <div class="box-flex-backgrounded-2 p-fixed">

      <!-- RULEs .................................................................................................. -->
      <div class="box-2 windowed-2-medium box-shared-rules">

        <!-- TOP .................................................................... -->
        <div class="box-2-top">
          <div><h3 class="title-1-theme-1">Käyttöehdot</h3></div>
          <span class="button-close" @click="$emit('current-box-close')" title="Sulje ikkuna"></span>
        </div>   

        <!-- MIDDLE ................................................................. -->
        <div class="box-2-middle box-shared-rules-main">
          
            <div><h1 class="title-1-theme-1">Palvelun ehdot</h1></div>
            
            <div>
              <ol>
                <li>Teksti on tulossa...</li>
                <li>Teksti on tulossa...</li>
                <li>Teksti on tulossa...</li>
              </ol>
            </div>
            
            <div>
              <input type  = "button"
                     class = "button-3"
                    :class = "buttonTheme1"
                     value = "Sulje"
                    @click = "$emit('current-box-close')">
            </div>

        </div>

      </div>
    </div>
  </transition>
</template>


<script> // -----------------------------------------------------------------------------------------------------------

//import mixinXhrPostAsyncApp from '@/mixins/mixinXhrPostAsyncApp'


export default {
  name:    'boxRules', 
  props: [ 
           'activateBodyScrollRemove'
         ],
  //mixins:     [],
  //components: {},


  data () {
    return {

      buttonTheme1: 'button-theme-1',

    } // return
  }, // data


  // ===========================================================================================================
  created () {

    document.body.classList.add('overflow-hidden'); // For NOT to SCROLL whole page at opened POP-UP WINDOW
 
  }, // created


  // ===========================================================================================================
  beforeDestroy () {
  
    if (this.activateBodyScrollRemove) {
      document.body.classList.remove('overflow-hidden'); // After closing POP-UP WINDOW there is no need in that CLASS
    }

  }, // beforeDestroy


  // ===========================================================================================================
  methods: {
    
    //---  -------------------------------------------------
    /* example () {}, */

  }, // methods

}
</script>

