<template>

  <!-- Look at example: put inside DIV tooptip first, then action element -->

  <!-- TOOLTIPS "EXTRA" .................................................... -->
  <div class="tooltips-extra-container">
  <transition name="fade" mode="out-in">

    <div class="tooltip tooltips-extra tooltip-bottom-right-1">
      {{ textMain }}
      <!--<span class="button-close-4 m_l-10" @click="$emit('current-box-close')" title="Sulje ikkuna"></span>-->
    </div>

  </transition>
  </div>

</template>


<script> // -----------------------------------------------------------------------------------------------------------

//import itemSignup from '@/components/itemSignup'


export default {
  name:   'boxTooltipsExtra',
  props: [ 
          'textMain'
          //'tooltipsMainShow',
         ],
  //components: {},

  data () {
    return { 
    
      //tooltipsInfoClass:       '',

    } // return
  }, // data


  // ===========================================================================================================
  created () {
  }, // created


  // ===========================================================================================================
  methods: {

    //tooltipsInfoWindowShowHide () {},

  }, // methods

}
</script>

