<template>

    <div class      = "tooltips-info-button"
        :class      = "tooltipsInfoClass"
         title      = "Vinkkejä"
        @mouseover  = "tooltipsInfoWindowShow=true"
        @mouseleave = "tooltipsInfoWindowShow=false">
        <!-- @click.self.prevent = "tooltipsInfoWindowShowHide"> -->

      <div class              = "tooltips-info-icon"
          @click.self.prevent = "tooltipsInfoWindowShowHide"><!-- ICON -->
      <transition name="fade" mode="out-in">
        <div v-if  = "tooltipsInfoWindowShow" 
             class = "tooltip tooltips-info"
            :class = "tooltipsInfoWindowClass">
          <span class="button-close-4" @click="tooltipsInfoWindowShowHide" title="Sulje ikkuna"></span>
          {{ tooltipsInfoText }}
        </div>
      </transition>
      </div>

    </div>

</template>


<script> // -----------------------------------------------------------------------------------------------------------

//import itemSignup from '@/components/itemSignup'


export default {
  name:   'boxTooltipsInfo',
  props: [ 
          'tooltipsInfoLook', // There are several styles of the same "?" button
          'tooltipsInfoText'  // Tooltip's text from PARENT
         ],
  //components: {},

  data () {
    return { 
    
      tooltipsInfoClass:       '',
      tooltipsInfoWindowClass: '',
      tooltipsInfoWindowShow:  false

    } // return
  }, // data


  // ===========================================================================================================
  created () {
      switch (this.tooltipsInfoLook) { 
        case 'title-1': 
              this.tooltipsInfoClass       = 'tooltips-info-button-title';
              this.tooltipsInfoWindowClass = 'tooltips-info-title-1'; break;
        case 'text-1':
              this.tooltipsInfoClass       = 'tooltips-info-button-text-1';
              this.tooltipsInfoWindowClass = 'tooltips-info-text-1'; break;
        case 'text-1-left':
              this.tooltipsInfoClass       = 'tooltips-info-button-text-1';
              this.tooltipsInfoWindowClass = 'tooltips-info-text-1-left'; break;
        default: console.log('ERROR! boxTooltipsInfo: no "tooltipsInfoLook" value like "' + this.tooltipsInfoClass + '" found'); 
      }
      /*
      switch (tooltipsInfoText) { 
        case 'clientInsuranceExisting': this.tooltipsInfoText = 'Teksti tähän'; break;
        default: console.log('ERROR! boxTooltipsInfo: no "tooltipsInfoText" value found'); 
      }
      */
  }, // created


  // ===========================================================================================================
  methods: {
/*
    tooltipsInfoWindowShowHide () {
      this.tooltipsInfoWindowShow = !this.tooltipsInfoWindowShow;
      //if (this.tooltipsInfoWindowShow == true) { this.$refs.tooltipsWindow.focus(); }
    },
*/
  }, // methods

}
</script>

