<template>

  <!-- ADDITIONAL VALIDATION ERROR MSG -->
  <transition name="fade">

    <div class="text-attention-3">
      <span class="button-close-4" @click="$emit('current-box-close')" title="Sulje ikkuna"></span>
      {{ msgParent ? msgParent : msgDefault }}
    </div>

  </transition>
  
</template>


<script> // -------------------------------------------------------------------------------------------------------

//import mixinXhrPostAsyncApp from '@/mixins/mixinXhrPostAsyncApp'


export default {
  name:        'boxValidationAdditionalWindow',
  props:      [
               'msgParent', // OPTIONAL: if there is need to show some not default msg
              ],
//mixins:     [ mixinXhrPostAsyncApp ],
//components: { itemSignup },

  data () {
    return {

      msgDefault: 'Tarkista, että olet täyttänyt kaikki pakolliset kentät.',

    } // return
  }, // data

  
  // ===========================================================================================================
  created () {

    //if (this.msgParent) this.msgDefault = this.msgParent;

  },


  // ===========================================================================================================
  methods: {
  }, // methods

}
</script>

