<template>
 
  <div>

    <box-attention-corner-basic></box-attention-corner-basic>

    <div class="init-top">

      <!-- HEADER ................................................... -->
      <div class="init-header">
        <div class="box-main-3 init-header-1">
          <div class="init-header-logo"></div>
          <nav class="init-header-buttons">
              <div @mouseover = "estatesTitleTooltipsExtraShow=true"
                   @mouseout  = "estatesTitleTooltipsExtraShow=false">
                <input type  = "button"
                       class = "button-3"
                      :class = "buttonTheme2"
                       value = "Kohdeet">
                <box-tooltips-extra v-if     = "estatesTitleTooltipsExtraShow"
                                   :textMain = "estatesTitleTooltipsExtraTextMain"></box-tooltips-extra>
              </div>
              <div>
                <input type  = "button"
                       class = "button-3"
                      :class = "buttonTheme2"
                      @click = "navBarBookmarkGoTo('formMain')"
                       value = "Täytä lomake">
              </div>
          </nav>
        </div>
      </div>

      <div class="init-decor-3 b_c-yellow-1"></div>

      <div class="box-main-3 init-slogans">
        <div class="init-slogan-main"><h1>ILMAINEN PALVELU ASUNNON ETSIMISESTÄ ESPANJASSA</h1></div>
        <div class="init-slogan-extra">Autamme sinulle saadaksesi haluaamasi asunnon: sinun vain tarvitset täyttää lomaketta.</div>
      </div>
      
      <div class="init-decor-3 b_c-navy-3"></div>
    
    </div>

    <div class="init-middle-theme-2">
    <div class="box-main-3 init-middle">
      
      <div><h1 class="title-1-theme-2">Miten se toimii</h1></div>
      <div>Sinun ei tarvitse maksaa mitää meidän palvelusta - se on täysin ilmainen. Sinun ei tarvitse solmiä mitää papereita meidän kanssa. Asiakkalla on oikeus pyrkää palvelumme koska vain ilmoitamalla meille sähköpostitse vai puhelimetse. Asiakkaan on tarkistettava hänen valitsema kohde huollisesti itse ennen ostamista. Omistaja vai asunnon välittäjä on vastuulinen kohdistä, Espanjankoti OY ei ole omistaja eikä välittäjä, vaan ainoatsaan. Espanjankoti OY ei vasta tarjoamista kohdista ja putteistä tai väärin ilmoitettuja tietoista.</div>
      
      <!-- FORM: "Jätä pyyntösi" ....................... -->
      <box-form-request-leave id="formMain"></box-form-request-leave>
    
    </div>
    </div>

    <!-- FOOTER ........................................ -->
    <box-footer></box-footer>

  </div>

</template>


<script> // ----------------------------------------------------------------------------

import boxFormRequestLeave     from '@/components/boxFormRequestLeave'
import boxTooltipsExtra        from '@/components/boxTooltipsExtra'
import boxAttentionCornerBasic from '@/components/boxAttentionCornerBasic'
import boxFooter               from '@/components/boxFooter'


export default {
  name:        'pageInit',
  components: {
                boxFormRequestLeave,
                boxTooltipsExtra,
                boxAttentionCornerBasic,
                boxFooter
              },

  data () {
    return {

      // buttonTheme1: 'button-theme-1',
      buttonTheme2: 'button-theme-2',
      
      estatesTitleTooltipsExtraShow:      false,
      estatesTitleTooltipsExtraTextMain: 'Tämä sivu on työn alla',

      //preventFire: 0, // Prevent initSignUpShow firing, when window is opened
      /*
      classHide: {
       pp: false,
       pc: false,
       ir: false,
       ic: false
      },
      */

    } // return
  }, // data

  methods: {


    navBarBookmarkGoTo (bookmark) {
      var toTop = document.getElementById(bookmark).offsetTop - 10; // "ref" do not want work here
      //console.log(toTop);
      window.scrollTo({ top: toTop, left: 0, behavior: 'smooth' });
    }


  }, // methods

}
</script>