<template>
</template>


<script> // ----------------------------------------------------------------------------

//import itemSignup from '@/components/itemSignup'


export default {
  name: 'pageObjects',
  components: {},

  data () {
    return {
       userType: '', // Type of the clicked buttom's id
       //preventFire: 0, // Prevent initSignUpShow firing, when window is opened
       /*classHide: {
        pp: false,
        pc: false,
        ir: false,
        ic: false
       },*/
       classInitSignupInput: 'display-hide',
       classInitSignupButton: 'init-signup-button',
       /*classInitSignupButton: {
        pp: 'init-signup-button',
        pc: 'init-signup-button',
        ir: 'init-signup-button',
        ic: 'init-signup-button'
       }*/       
    } // return
  }, // data

  methods: {

    initSignUpShow (event) {
        this.userType = event.currentTarget.id.slice(-2);
        //for (let type in this.classInitSignupButton) {this.classInitSignupButton[type] = 'display-hide';}
        //this.classInitSignupButton[this.userType] = 'init-signup-button-clicked';
        this.classInitSignupButton = 'display-hide';
        this.classInitSignupInput = 'init-signup-button-clicked';
        //this.preventFire = 1;
        //alert(this.userType)
    }, 

    initSignUpHide () {
      this.classInitSignupButton = 'init-signup-button';
      this.classInitSignupInput = 'display-hide';
      this.userType = ''; // Need to reset that value, because in child element works WATCH function
      //for (let type in this.classInitSignupButton) {this.classInitSignupButton[type] = 'init-signup-button';}
      //this.preventFire = 0;
    }

  }, // methods

}
</script>

